<div class="circle" ng-click="$ctrl.showIcons =! $ctrl.showIcons">...</div>
<div class="container-icons container-show-hide" ng-show="$ctrl.showIcons">
  <div id="icon-reply" class="child-circle"><i class="fa fa-reply" aria-hidden="true"></i></div>
  <div id="icon-share" class="child-circle"><i class="fa fa-share-alt" aria-hidden="true"></i></div>
  <div id="icon-star" class="child-circle"><i class="fa fa-star" aria-hidden="true"></i></div>
  <div id="icon-pencil" class="child-circle"><i class="fa fa-pencil" aria-hidden="true"></i></div>
  <div id="icon-trash" class="child-circle"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
</div >